@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

html {
	color: #333;
	font-size: 14px;
	overflow-y: scroll;
}

html,
body {
	width: 100%;
	margin: 0;
	background: #F3F3F3;
}

button {
	padding: 0;
	border: none;
	background: transparent;
	cursor: pointer;
}

/*input:active, 
input:focus*/
button:active,
button:focus {
	outline: none;
}

#app {
	position: relative;
	box-sizing: border-box;
	width: 500px;
	min-width: 330px;
	margin: 60px auto;
	padding: 2em;
	border: 1px solid #C6C7CC;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
	font: 1em/1.25 'PT Sans', sans-serif;
	transition: 2s;
}

.header__headline {
	margin: 0;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	font-family: 'Amatic SC';
	font-size: 4em;
	text-align: center;
	text-transform: uppercase;
}

.add-row {
	display: flex;
	padding-bottom: 2em;

	flex-wrap: nowrap;
}

.add-row__input,
.add-row__button {
	border-radius: 5px;
}

.add-row__input {
	min-width: 210px;
	padding: 0.4em 0.4em;
	border: 1px solid #D2D6D7;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.35em;
	outline: none;

	flex-grow: 1;
	flex-shrink: 1;
}

.add-row__button {
	color: #FFF;
	border: 1px solid #999;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background: #999;

	flex-basis: 4em;
	flex-shrink: 0;
}

.add-row__button::after {
	font-family: 'Font Awesome 5 Free';
	font-size: 2em;
	font-weight: 900;
	content: '\f054';
}

.header__tab-list {
	border-bottom: 2px solid #CF2323;
}

.tab-list__item {
	position: relative;
	top: 2px;
	margin-right: 0.2em;
	padding: 0.2em 0.8em 0.3em;
	color: #FFF;
	border: 2px solid #CF2323;
	border-bottom: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: #CF2323;
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;
}

.tab-list__item:hover,
.tab-list__item_current {
	color: #333;
	background: #FFF;
	font-weight: bold;
}

.tab-list__item:last-child {
	margin-right: 0;
}

.task-list {
	min-height: 10em;
	margin: 0;
	padding: 0.6em 0;
}

.task-list__item {
	border-bottom: 1px solid #F3F3F3;
}

.task-list__item:last-child {
	border: none;
}

.task {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	padding: 0.5em 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 1.25em;
}

.task__controller,
.task__remove-button {
	color: #999;
	font-family: 'Font Awesome 5 Free';
	font-size: 1.15em;
}

.task__text {
	padding: 0 1em;

	flex-grow: 1;
}

.task__controller::after {
	content: '\f0c8';
}

.task_completed .task__controller::after {
	color: #333;
	content: '\f14a';
}

.task_completed .task__text {
	text-decoration: line-through;
}

.task__remove-button::after {
	font-weight: 900;
	content: '\f00d';
}

.footer {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	padding-top: 0.8em;
	border-top: 1px solid #D0D0D0;

	justify-content: space-between;
}

.footer__button {
	color: #999;
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;
	font-weight: bold;
}

.footer__button:hover,
.task__controller:hover,
.task__remove-button:hover {
	color: #333;
}

.add-row__button:hover {
	background: #333;
}


/*------------Media queries--------------*/

@media screen and (max-width: 600px) {
	html {
		font-size: 16px;
	}

	#app {
		width: 95%;
		margin-top: 1em;
		margin-bottom: 1em;
		padding: 1em;
	}
}

@media screen and (max-width: 400px) {
	.tab-list {
		display: flex;

		justify-content: space-between;
	}

	.tab-list__item {
		flex-grow: 1;
	}
}



/*------------Animation--------------*/

.add-row__button,
.footer__button,
.task__controller,
.task__remove-button {
	transition: 0.15s;
}

.tab-list__item {
	transition: 0.08s ease-out;
}





